*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    
}

body{
    background-color: #fff;
    margin: 0 auto;
    
   
   
  h3{
    font-family: cursive;
    padding: 10px;
  }
     
}

header{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    .head{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 30px;

        .name{
            padding-top: 10px;
            font-size: 20px;
        }

        .navbar{
            word-spacing: 10px;
            font-size: 18px;
            
            a{
                color: black;
            }
             a:hover{
                color: grey;
                border-bottom: 1px solid black;
            }

            a.active{
                border-bottom: 1px solid red;
            }
        }
      
    }
      p{
            font-weight: 700;
            font-family: cursive;
            font-size: 20px;
}
    sub{
        margin-top: 10px;
        font-size: 12px;
        color: gray;
    }
    
}
main.top-section{
    display: flex;;
    border-bottom: 1px solid black;

    .project{
        flex: 1;
        border-right: 1px solid black;
      
        }

       .project li{
            list-style: none;
            border-top: 1px solid black;
            padding: 10px 15px;
        }
    

    .middle-container{
        flex: 1.5;
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;

        .oswork{
            padding: 20px 10px;
            flex: 1;
        }
        .workexp{
            padding: 20px;
            border-bottom: 1px solid black;
        }
    }
    .education{
        flex: 1.5;
        padding: 20px 30px;
        p{
            margin: 10px 0;
            
        }
    }   
}

.reviews{
    padding: 30px 20px;
    
    h3{
        margin-bottom: 30px;
    }
  

        .card-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }
        .review-card{

            border: 1px solid black;
            border-radius: 25px;
            padding: 20px;
            width: 300px;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
           
        }
        span{
            color: gray;
            font-size: 14px;
            margin-top: 15px;
            display: block;
        }
        

}

footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 60px;

}

  
.contact-form {
    max-width: 800px;
    margin: 16px auto;
    text-align: center;
    

    
    textarea, input{
        border-radius: 10px;
        margin: 20px;
        width: 100%;
        padding: 18px;
        font-size: 18px;
        resize: none;
        
    }
    button{
        padding: 10px 40px;
        border-radius: 10px;
    }
    button:hover{
        background-color:aquamarine;
    }
}





