*{
    box-sizing: border-box;
}

body{ 
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 20px auto 0px;
    gap: 2px;

    input{
      padding: 10px;
      font-size: 14px;
    }

    button {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
}
.calendar{
    border: 1px solid black;
    margin: 5px auto;
    width: fit-content;
    padding: 10px;

    .top{
    padding: 20px;
     padding-bottom: 10px;
    }

    .prev-arrow{
        cursor: pointer;
    }

    .next-arrow{
        cursor: pointer;
    }

    .prev-arrow:hover{
        transition: .3s ease;
        transform: scale(1.2);
    }
    
        .next-arrow:hover{
        transition: .3s ease;
        transform: scale(1.2);
    }  

    .month-name{
        display: flex;
        justify-content: space-around;
        cursor: default;
       
    }

    .date{  
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 1px;
        list-style: none;

        li{
            margin: 10px;
            text-align: center;
            cursor: default;
        }
    }
    .date-num{
        border: 1px solid black;
        text-align: center;
    }

        .datenum-inactive{
        border: 1px solid black;
        color: grey;
        text-align: center;
    }

            .date-num:hover{
                background-color: lightblue;
                transition: .3s ease;
                transform: scale(1.2);
                cursor: pointer;
            }

            .datenum-inactive:hover{
                cursor:not-allowed;
            }

            

}